Redirect 302 /index.shtml https://cmu.edu/
Redirect 302 /binder https://binder.springcarnival.org/
Redirect 302 /calendar https://calendar.google.com/calendar/embed?src=springcarnival.org_n1fd051prdia7jg2qfcbbco8oc%40group.calendar.google.com&ctz=America%2FNew_York
Redirect 302 /safetyvideo https://www.youtube.com/embed/DsVHcQBrNaI?controls=0&rel=0&showinfo=0&autoplay=1
Redirect 302 /webcam https://www.youtube.com/watch?v=hJk7x4QeSTw
Redirect 302 /directory2019 https://goo.gl/forms/0Rsz5h1ukE24Fsro1
Redirect 302 /stakeholders https://drive.google.com/open?id=1yWCgqC6mo72htxpFn2nUmUDjwPke9iS-
Redirect 302 /gbm1makeup https://drive.google.com/open?id=1eajiwxAIBUbkiCW2UqP8920D7YPZ722X0cQjp9_vWEc
Redirect 302 /gbm1quiz https://goo.gl/forms/YBjii7bZO2TVW0Bd2
Redirect 302 /slack https://join.slack.com/t/springcarnival/shared_invite/enQtNTQyMDM2MDQ4NTY2LTAwOTlkYTk4MTZiMzQ3ZWQ2YjEzODQzZTAzNTg4ZDIyOGFkYjAyZTRkN2UxODZhNTkxOTBiMTNmYjI0Mzc5NGU
Redirect 302 /committeefacebook https://www.facebook.com/springcarnivalcommittee/
Redirect 302 /gbm2makeup https://docs.google.com/spreadsheets/d/1eajiwxAIBUbkiCW2UqP8920D7YPZ722X0cQjp9_vWEc/edit?usp=sharing
Redirect 302 /gbm2quiz https://goo.gl/forms/IERC5n5ZQW6DOK3e2
Redirect 302 /tgt19 https://docs.google.com/forms/d/e/1FAIpQLSfZbNwmNuoZzfP757y1kXS1bFGbVoq8sU5AI6UN-h_I1ecQZg/viewform?usp=sf_link
Redirect 302 /TGT19 /tgt19
Redirect 302 /gbm-makeup https://docs.google.com/spreadsheets/d/1eajiwxAIBUbkiCW2UqP8920D7YPZ722X0cQjp9_vWEc/edit?usp=sharing
Redirect 302 /gbm3quiz https://goo.gl/forms/AJTYgGM6s8Ie1GgM2
Redirect 302 /cagescleanup https://docs.google.com/spreadsheets/d/1rVLbxn5PIIAknmL812-uDmJ2PzipqLju-XcrIqSrOsM/edit?usp=sharing
Redirect 302 /sbmakeup https://goo.gl/forms/beDzE4ipvhwk1XQ42
Redirect 302 /scc-calendar https://calendar.google.com/calendar/b/1?cid=c3ByaW5nY2Fybml2YWwub3JnX24xZmQwNTFwcmRpYTdqZzJxZmNiYmNvOG9jQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20
Redirect 302 /gbm4quiz https://goo.gl/forms/j8m1vnE6BWwsozu92
Redirect 302 /gbm5quiz https://forms.gle/xdhbrHF2vTnB7Cyq5
Redirect 302 /activityshifts https://drive.google.com/open?id=1-I0IOLjlewxQRxhZrjTH8b5Hq79mbHDTx8qmJpaVHdQ
Redirect 302 /gbm6quiz https://forms.gle/se6hpjUZwHAezq9YA
Redirect 302 /waiver https://binder.springcarnival.org/waiver
Redirect 302 /vote https://thebridge.cmu.edu/submitter/election/start/265345
Redirect 302 /radio-guide https://drive.google.com/file/d/1pu3vXH62ADpynDeb77P0GZ1T__5OsF5X/view?usp=sharing
