Redirect 302 /talent https://docs.google.com/forms/d/e/1FAIpQLSdkS0yU9aQlBvaamWwinzUB_bAi_s2ub68FOh-quotqcJAFFw/viewform
Redirect 302 /securityshifts https://docs.google.com/spreadsheets/d/1BEX2ud6GdyEyW3pA77K6Lcc2NuL2C2BS81IaHjSkeY8/edit#gid=0
Redirect 302 /binder https://binder.springcarnival.org/
Redirect 302 /committeeshifts https://docs.google.com/spreadsheets/d/1tTpu_B2xqhwEWXU7dLT2gHbMQZ3FCRrjXqMxuXf2r2I/edit#gid=71534654
Redirect 302 /safetyvideo https://www.youtube.com/embed/DsVHcQBrNaI?controls=0&rel=0&showinfo=0&autoplay=1
